* @lidofinance/lido-webexp
.github @lidofinance/review-gh-workflows
docs/ @lidofinance/lido-eth-protocol
docs/deployed-contracts @lidofinance/lido-dao-ops-team
docs/guides @lidofinance/lido-dao-ops-team
docs/guides/lido-tokens-integration-guide.md @lidofinance/lido-eth-protocol
docs/multisigs @lidofinance/lido-dao-ops-team
docs/staking-modules/csm @lidofinance/community-staking
docs/security @lidofinance/secops
docs/security/audits.md @lidofinance/lido-eth-protocol
run-on-lido/ @lidofinance/lido-eth-protocol
run-on-lido/csm @lidofinance/community-staking

