.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.grid-link {
  padding: 16px;
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
}


.grid-link svg {
  margin-right: 16px;
}

.grid-link:hover {
  text-decoration: none;
}

.grid-link p {
  margin: 0;
}

html[data-theme='light'] .grid-link {
  border: 1px solid hsl(180, 2%, 88%);
}

html[data-theme='light'] .grid-link .title {
  color: black;
}

html[data-theme='light'] .grid-link .subtitle {
  color: rgb(70, 70, 70);
}

html[data-theme='dark'] .grid-link {
  border: 1px solid hsl(0, 0%, 28%);
}

html[data-theme='dark'] .grid-link .title {
  color: white;
}

html[data-theme='dark'] .grid-link .subtitle {
  color: rgb(185, 185, 185);
}

.grid-link > div > .title:hover {
  text-decoration: none;
}

.grid-link:hover {
  border: 1px solid #3578e5;
  box-shadow: 4px 2px 16px 4px rgb(33 96 253 / 8%),
    0 8px 24px rgb(33 96 253 / 8%);
}
